*{
    margin: 0;
    padding: 0;

    // 盒子总大小包括边框（怪异盒模型）
    box-sizing: border-box;
}

ul li{
    list-style: none;
}

body {
    /* 设置宽高 */
    width: 100vw;
    height: 100vh;

    font: bold 20px Courier;

    background-color: #dff;
    /* 居中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #title{
        margin-bottom: 20px;
        font-size: 120px;
        color:transparent;
        background-clip: text;
        background-image: url('../imgs/bg.png');
        -webkit-text-stroke: 1px #fff;
    }

    #main {
        display: flex;

        #main_infos {
            font-size: 12px;
            text-align: center;
            width: 100px;
            height: 420px;
            padding: 5px;
            background-color: #0ab8be;
            margin-right: 10px;
            border: 1px solid black;
        
            hr{
                margin-bottom: 10px;
            }
        
            // 道具时间显示
            #prop_infos{
                height: 40px;
                line-height: 40px;
                span strong{
                    color: red;
                }
            }
        
            #rank_panel {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
        
                h3 {
                    height: 20px;
                    width:100%;
                }
        
                // 排行榜显示
                #rank{
                    height: 240px;

                    .rank_detail{
                        margin-top:4px;
                        margin-bottom:4px;
                        align-items: baseline;
        
                        display: flex;
                        text-align: left;
                        strong{
                            color:red;
                        }
                        .name {
                            margin-left:5px;
                            margin-right:5px;
                        }
                        
                        .score {
                            color:rgb(159, 15, 216);
                        }
                    }
                }
            }

            #play_infos{
                height: 60px;
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    li:first-child{
                        width:100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;

                        img.food_img{
                            width:12px;
                            height:12px;
                            content: url('../imgs/normal_food.jpg')
                        }
                    }
                    li:nth-child(2){
                        width:100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;

                        img.food_img{
                            width:12px;
                            height:12px;
                            content: url('../imgs/fast_food.jpg')
                        }
                    }
                    li:nth-child(3){
                        width:100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;

                        img.food_img{
                            width:12px;
                            height:12px;
                            content: url('../imgs/slow_food.jpg')
                        }
                    }
                    li:nth-child(4){
                        width:100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;

                        img.food_img{
                            width:12px;
                            height:12px;
                            content: url('../imgs/corss_wall_food.jpg')
                        }
                    }
                }
            }
        }
        
        .container {
            width: 360px;
            height: 420px;
            background-color: #b7d4a8;
        
            border: 5px solid;
        
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        
            .hide {
                display: none;
            }
            
            #infos {
                div {
                    text-align: center;
                }
                .msg{
                    color: red;
                }
                .tip{
                    font-size: 12px;
                }
            }
        
            .stage {
                width: 304px;
                height: 304px;
                border: 2px solid;
                position: relative;
        
                // 食物
                #food {
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    display: flex;  
                    flex-wrap: wrap;
                    div{
                        rotate: 45deg;
                        width: 5px;
                        height: 5px;
                    }
                    .food{
                        background-color: black;
                    }
                }
        
                #snake {
                    div {
                        width: 10px;
                        height: 10px;
                        background-color: black;
                        border: 1px solid #b7d4a8;
                        position: absolute;
                    }
                }
            }
        
            .score_pannel {
                width: 100%;
                display: flex;
                justify-content: space-around;
            }
        }
        
    }
}